root = true

[*.cs]

# --- Formato básico ---
indent_style = space
indent_size = 4
end_of_line = crlf
charset = utf-8
insert_final_newline = true
#max_line_length = 120

# --- Enciende todo en warning ---
# StyleCop (SA) + IDE (code-style) + CA (calidad) a warning por defecto
dotnet_analyzer_diagnostic.category-StyleCop.severity = warning
dotnet_analyzer_diagnostic.category-Style.severity = warning
dotnet_analyzer_diagnostic.category-CodeQuality.severity = warning


#### C# Coding Conventions ####
csharp_using_directive_placement = outside_namespace


#### Stylecop.Analyzer (SAxxxx rules) ####

# SA1609: Property documentation should have value
dotnet_diagnostic.SA1609.severity = none

# SA1610: Property documentation should have value text
dotnet_diagnostic.SA1610.severity = none

# SA1623: Property summary documentation should match accessors
dotnet_diagnostic.SA1623.severity = none

# SA1642: Constructor summary documentation should begin with standard text
dotnet_diagnostic.SA1642.severity = none

# SA1650: 
dotnet_diagnostic.SA1650.severity = none

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = none

# SA1124: Do not use regions. 
# Why not! I love regions!!!
dotnet_diagnostic.SA1124.severity = none

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1512: Single-line comments should not be followed by blank line
dotnet_diagnostic.SA1512.severity = suggestion

# SA1208: SystemUsingDirectivesMustBePlacedBeforeOtherUsingDirectives
dotnet_diagnostic.SA1208.severity = suggestion

# SA1401: Field should be private.
# NOTE: Suppress this rule in files only that be base clases like Repository with the next justification:
# "I prefer to use it as field just in protected fields in base classes like Repository base class."
#dotnet_diagnostic.SA1401.severity = suggestion